:root {
  --bg: #cedcf9;
  --card: #ffffff;
  --primary: #4f46e5;
  --primary-dark: #4338ca;
  --text-main: #0b2e79;
  --text-muted: #b227c5;

  --high: #fee2e2;
  --high-text: #dc2626;

  --medium: #fef3c7;
  --medium-text: #d97706;

  --low: #dcfce7;
  --low-text: #16a34a;
}

* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-main);
}

.app-header {
  background: #8aa9e7;
  padding: 1rem 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 2rem;
}

.form-section {
  background: #fff;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 5px 15px 25px rgba(79, 7, 101, 0.342);
}

#taskForm {
  display: grid;
  gap: .7rem;
}

#taskForm label {
  font-size: 15px;
  color: var(--text-muted);
}

#taskForm input,
#taskForm select,
#taskForm textarea {
  padding: .5rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

#taskForm button {
  background: var(--primary);
  color: white;
  border: none;
  padding: .6rem;
  border-radius: 8px;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: .5rem;
}

.filters select {
  padding: .4rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.tasks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.2rem;
}

.task-card {
  background: var(--card);
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 5px 15px 25px rgba(79, 7, 101, 0.342);
}

.badge {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.high { background: var(--high); color: var(--high-text); }
.medium { background: var(--medium); color: var(--medium-text); }
.low { background: var(--low); color: var(--low-text); }

.task-meta {
  display: flex;
  gap: .4rem;
  margin-bottom: .5rem;
}

.meta-item {
  font-size: .7rem;
  padding: .25rem .5rem;
  background: #eef2ff;
  border-radius: 8px;
}

.task-desc {
  font-size: .8rem;
  color: var(--text-muted);
  max-height: 1000px; 
  overflow: hidden;
}

.task-desc.collapsed {
  max-height: 3.6em; 
}

.task-desc.expanded {
  max-height: 1000px;
}

.ver-mas {
  background: none;
  border: none;
  color: var(--primary);
  font-size: .75rem;
  cursor: pointer;
  padding: 0;
}

.task-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: .5rem;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: .9rem;
  margin-left: .3rem;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}